*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
p{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}
a{
    display: inline-flex;
    text-decoration: none;
    color:black;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 32px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.container-1{
    width: 100%;
    height: 821px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container-1-content{
    width: 81%;
    height: 616px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;

}
.container-1-left-content{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: auto;
}
.container-1-right-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.right-content-title{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px; 
}
.right-content-paragraph-1{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.right-content-paragraph-2{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.container-2{ 
    width: 100%;
    height: 955px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-2-content{
    
    width: 100%;
    height: 955px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.container-2-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 690px;
}
.container-2-top video{
    object-fit: cover;
    width: 100%;
    height: 690px;
}

.containter-2-bottom{
    /* padding: 80px;  */
    width: 79.5%;
    height: 90px;
    gap: 87px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.column-1-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.column-1-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.title-column-1{
    font-family: 'DM Sans', sans-serif;
    size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.paragraph-column-1{
    font-family: 'DM Sans', sans-serif;
    size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.column-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.column-2-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.column-2-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.title-column-2{
    font-family: 'DM Sans', sans-serif;
    size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.paragraph-column-2{
    font-family: 'DM Sans', sans-serif;
    size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.column-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.column-3-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.column-3-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.title-column-3{
    font-family: 'DM Sans', sans-serif;
    size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.paragraph-column-3{
    font-family: 'DM Sans', sans-serif;
    size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.container-3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 920px;
    justify-content: center;
    align-items: center;
    background: #F9F9F7;
}
.container-3-content{
    width: 81%;
    height: 680px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 131px;
}
.container-3-content-left{
    
    display: flex;
    flex-direction: column;
    width: 38.125%;
    height: 645px;
    gap: 60px;
}
.container-3-content-left-up{
    display: flex;
    flex-direction: column;
    width: 91%;
    height: 213px;
    gap: 20px;
}
.title-container-3{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
.paragraph-container-3{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    
}

/*.container-3-content-left-down{
    width: 38.125%;
    height: 372px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    justify-items: center;
    align-items: center;
}
.down1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 174px;
    background: #FFFFFF;
    justify-items: center;
    align-items: center;
    gap: 15px;
}
.down1-h{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
.down2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 174px;
    background: #FFFFFF;
    justify-items: center;
    align-items: center;
    gap: 15px;
}
.down2-h{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
.down3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 174px;
    background: #FFFFFF;
    justify-items: center;
    align-items: center;
    gap: 15px;
}
.down3-h{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
.down4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 174px;
    background: #FFFFFF;
    justify-items: center;
    align-items: center;
    gap: 15px;
}
.down4s-h{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;  
}
*/


.container-3-content-left-down {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .down1,
  .down2,
  .down3,
  .down4 {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  .down1,
  .down2 {
    grid-row: 1;
  }
  
  .down3,
  .down4 {
    grid-row: 2;
  }
  
  .down1-h{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
.down1-par{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

}
.down2-par{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

}
.down3-par{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

}
.down4-par{
    text-align: center;
    font-family: 'DM Sans', sans-serif;;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

}
  .down2-h{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
  .down3-h{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
  .down4s-h{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;  
}

.container-3-content-right{
    width: 34.6875%;
    height: 680px;
    flex-shrink: 0;
   

}







.section5{
    width: 100%;
    height: 766px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.section5-content{
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section5-title{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}
.section5-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    gap:24px;
}
.section5-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #F9F9F7;
    gap: 32px;
}
.section5-card1-element{
    width: 83%;
    height: 328px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 45px 35px 35px 35px;
}
.section5-card1-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section5-card1-title{
    color: #AD343E;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    letter-spacing: -0.72px;
}
.section5-card1-desc{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.section5-card1-line{
    width: 100%;
    height: 1px;
    background: rgba(219, 223, 208, 0.7);
}
.section5-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-right: auto;
    gap: 20px;
}
.section5-user-img{
    width: 70px;
    height: 70px;
}
.section5-user-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 3px;
}
.user-text-1{
    margin-right: auto;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.user-text-2{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.blog-section{
    background: #F9F9F7;
    width: 100%;
    height: 1117px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-content{
    width: 81%;
    height: 817px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.blog-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;    
}
.blog_title{
    display: flex;
    align-self: flex-end;
    margin-left: auto;
}