*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
p{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}
a{
    display: inline-flex;
    text-decoration: none;
    color:black;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 32px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.container-1{
    width: 100%;
    height: 821px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container-1-content{
    width: 81%;
    height: 616px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;

}
.container-1-left-content{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: auto;
}
.container-1-right-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.right-content-title{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px; 
}
.right-content-paragraph-1{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.right-content-paragraph-2{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.container-2{ 
    width: 100%;
    height: 955px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-2-content{
    
    width: 100%;
    height: 955px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.container-2-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 690px;
}
.container-2-top video{
    object-fit: cover;
    width: 100%;
    height: 690px;
}

.containter-2-bottom{
    /* padding: 80px;  */
    width: 79.5%;
    height: 90px;
    gap: 87px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.column-1-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.column-1-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.title-column-1{
    font-family: 'DM Sans', sans-serif;
    size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.paragraph-column-1{
    font-family: 'DM Sans', sans-serif;
    size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.column-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.column-2-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.column-2-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.title-column-2{
    font-family: 'DM Sans', sans-serif;
    size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.paragraph-column-2{
    font-family: 'DM Sans', sans-serif;
    size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.column-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.column-3-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.column-3-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.title-column-3{
    font-family: 'DM Sans', sans-serif;
    size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.paragraph-column-3{
    font-family: 'DM Sans', sans-serif;
    size: 16px;
    line-height: 24px;
    font-weight: 400;
}