*{
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}

p{
    margin: 0;
    padding: 0;
}

.contact-top{
    width: 100%;
    height: 611px;
    background: #979797;
}

.contact-bottom{
    width: 100%;
    height: 611px;
    background: #fff;
}

