* {
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;

}

p {
  margin: 0;
  padding: 0;
}

.main-div {
  border: Mixed solid #DBDFD0;
  position: absolute;


  border-radius: 12px, 12px, 0px, 0px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-section_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-section_content h1 {
  color: var(--Neutral-07, #2C2F24);
  text-align: center;

  /* Headline/H1 */
  font-family: Playfair Display;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  /* 96% */
}

.first-section_content p {
  color: var(--Neutral-06, #495460);
  text-align: center;
  width: 557px;
  padding-top: 20px;

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

}

.first-section_buttons {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding-top: 50px;
}


.btn {
  display: flex;
  width: 150px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid var(--Neutral-03, #DBDFD0);
}

.btn:hover {
  background: #AD343E;
  color: white;
}

.btn:focus {
  background-color: darkgreen;
  color: white;
}

.menu-section {
  padding: 88px, 152px, 133px, 152px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-first_box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 286px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1.5px solid var(--Neutral-03, #DBDFD0);
  background: var(--Neutral-01, #FFF);

}

.menu-first {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 88px;
  gap: 25px;


}

.menu-first_box img {
  width: 100%;
}

.menu-first_box h4 {
  color: #AD343E;
  text-align: center;
  padding-top: 30px;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.72px;
}

.menu-first_box h5 {
  color: var(--Neutral-07, #2C2F24);
  text-align: center;
  /* Body/20px/Bold */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding-top: 20px;
  /* 130% */
}

.menu-first_box p {
  color: var(--Neutral-06, #414536);
  text-align: center;
  /* Body/16px/Regular */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  padding-top: 20px;
}

.menu-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 133px;
  gap: 25px;
}

.third-section {
  width: 100%;
  height: 590px;
  flex-shrink: 0;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background: var(--Neutral-02, #F9F9F7);
  padding-left: 152px;
}

.third-section_content h2 {
  color: var(--Neutral-07, #2C2F24);
  font-family: Playfair Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.5px;
  width: 346px;

}

.third-section_content p {
  color: var(--Neutral-06, #414536);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  width: 346px;
  padding-top: 20px;
}

.first-svg {

  width: 190.78px;
  height: 24.55px;
  flex-shrink: 0;

  /* width: 150px;
height: 50px;
flex-shrink: 0;
 border-radius: 12px;
border: 1px solid var(--Neutral-02, #F9F9F7);
background: var(--Neutral-01, #FFF);

box-shadow: 0px 2.979px 59.574px 0px rgba(0, 0, 0, 0.08);

padding-left: 18px; */

}

.first-logos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
}

.second-logos {
  /* gap: 10%; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.second-svg {
  padding-left: 13px;
  padding-top: 14px;
  width: 210px;
  height: 50px;
  /* margin-right: 120px; */
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--Neutral-02, #F9F9F7);
  background: var(--Neutral-01, #FFF);
  box-shadow: 0px 2.979px 59.574px 0px rgba(0, 0, 0, 0.08);
}

.third-svg {
  border-radius: 12px;
  border: 1px solid var(--Neutral-02, #F9F9F7);
  background: var(--Neutral-01, #FFF);
  width: 210px;
  height: 50px;
  padding-left: 30px;
  padding-top: 15px;
  flex-shrink: 0;
  box-shadow: 0px 2.979px 59.574px 0px rgba(0, 0, 0, 0.08);
}

.box-photo {
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 1000px) {
  .menu-first {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1000px) {
  .first-section_buttons {
    display: flex;
    flex-wrap: wrap;
  }
}

.images-wrapper {
  width: 210px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--Neutral-02, #F9F9F7);
  background: var(--Neutral-01, #FFF);
  box-shadow: 0px 2.979px 59.574px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .table-content{
    padding: 100px, 100px;
  } */
.menu-first_box:hover {
  transform: scale(1.1); 
  margin: 10px;





}