<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="components/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <footer id="footer-container">
        <div class="top-footer">
            <div class="details">
                <div class="logo">
                    <img class="logo-image" src="resources/Images/footer-logo.svg"
                        alt="Restaurant Logo">
                    <span class="logo-emri">Bistro Bliss</span>
                </div>
                <p class="logo-desc">
                    In the new era of technology we look a in the future with certainty and pride to for our company
                    and.
                </p>
                <div class="rrjetet-sociale">
                    <a href="#" target="_blank">
                        <img src="resources/Images/twitter-icon.svg" alt="Twitter Logo">
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100011136363353" target="_blank">
                        <img src="resources/Images/facebook-logo.svg" alt="Facebook Logo">
                    </a>
                    <a href="https://www.instagram.com/leartbllacaku/" target="_blank">
                        <img src="resources/Images/insta-logo.svg" alt="Instagram Logo">
                    </a>
                </div>
            </div>
            <div class="pages">
                <div class="left-pages">
                    <h3>Pages</h3>
                    <ul>
                        <li>
                            <a href="/index.html">Home</a>
                        </li>
                        <li>
                            <a href="/about.html">About</a>
                        </li>
                        <li>
                            <a href="/menu.html">Menu</a>
                        </li>
                        <li>
                            <a href="/book.html">Book</a>
                        </li>
                        <li>
                            <a href="/blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="/contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="/index.html#delivery">Delivery</a>
                        </li>
                    </ul>
                </div>
                <div class="left-pages">
                    <h3>Utility Pages</h3>
                    <ul>
                        <li>
                            <a href="/index.html#feedBack">Feedbacak</a>
                        </li>
                        <li>
                            <a href="/index.html#services">Services</a>
                        </li>
                        <li>
                            <a href="#">Password Protected</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/leart-bllacaku-7a8abb252?trk=public_profile_browsemap">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Leart_Bllacaku">X</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100007653033383">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/leartbllacaku/">Instagram</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="images">
                <h3>Follow Us On Social Medias</h3>

                <div class="images-foto">
                    <img class="foto" src="resources/Images/footer1foto.svg" alt="Boiled Eggs Salad">
                    <img class="foto" src="resources/Images/footer-foto2.svg" alt="French Fries">
                    <img class="foto" src="resources/Images/footer-foto3.svg" alt="Greek Souflage">
                    <img class="foto" src="resources/Images/footer-foto4.svg" alt="Pancakes">
                </div>

            </div>
        </div>
        <hr class="line">
        </hr>
        <span>Copyright © 2023 Grupi 8 Developer. All Rights Reserved</span>

    </footer>
</body>

</html>