<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>

    <link rel="stylesheet" href="components/navbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->

</head>
<body>
    <nav class="nav">
        <div class="top-bar">
            <div class="info">
                <div class="call">
                    <img src="resources/Images/tel-icon.svg" alt="Phone Icon">
                    <a href="tel:044 100 100">+383 44 100 100</a>
                </div>
                <div class="mail">
                    <img src="resources/Images/mail-icon.svg" alt="Email Icon">
                    <a href="mailto:yummy@bistro.com" target="_blank">yummy@bistro.com</a>
                </div>
            </div>
            <div class="socials">
                <a class="social-media-logo" href="https://twitter.com/donatixd" target="_blank">
                    <img src="resources/Images/twitter-icon.svg" alt="Twitter Logo">
                </a>
                <a class="social-media-logo" href="https://www.facebook.com/profile.php?id=100011136363353" target="_blank">
                    <img src="resources/Images/facebook-logo.svg" alt="Facebook Logo">
                </a>
                <a class="social-media-logo" href="https://www.instagram.com/leartbllacaku/" target="_blank">
                    <img src="resources/Images/insta-logo.svg" alt="Instagram Logo">
                </a>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="logo">
                <img class="logo-image" src="resources/Images/logo.svg" alt="Restaurant Logo">
                <span class="logo-title">Bistro Bliss</span>
            </div>
            <nav class="menu">
                <a class="menu-item" id="home" href="index.html">Home</a>
                <a class="menu-item" id="about" href="about.html">About</a>
                <a class="menu-item" id="menu" href="menu.html">Menu</a>
                <a class="menu-item" id="blog" href="blog.html">Blogs</a>
                <a class="menu-item" id="contact" href="contact.html">Contact</a>
                <!-- <span class="nav-indicator"></span> -->
            </nav>
            <a class="book-button" href="book.html">Book A Table</a>
        </div>
    </nav>
    <script src="resources/js/navbar.js"></script>
</body>
</html>